* {
     box-sizing: border-box;
 }

body {
    margin: 0 auto;
    font-family: "Open Sans";
}

input, textarea, button{
    font-family: "Open Sans";
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a:hover{
    text-decoration: none;
}

.container {
    width: 1010px;
    margin: 0 auto;
    padding: 0 15px;
}

.invisLink{
    position: relative;
    z-index: 1;

}

.invisLink>a{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}

.clear::after{
    content: '';
    display: block;
    clear: both;
}

header .title{
    display: table;
    width: 100%;
}

header .left,
header .logo,
header .right{
    display: table-cell;
    width: 33.3333%;
    vertical-align: top;
}

header .logo{
    text-align: center;
}

header .right{
    text-align: right;
}

header .login {
    font-size: 13px;
    line-height: 19px;
    color: #0069b4;
}

header .left{
    padding-right: 20px;
}

header .menu a{
    font-size: 13px;
    line-height: 28px;
    color: #333333;
}

header .phone{
    font-size: 20px;
    line-height: 20px;
    color: #333333;
    text-decoration: none;
    transition: all 0.3s;
}

header .collBack:hover{
    border-bottom: 1px dashed transparent;
}

header a.basket:hover{
    color: #1a9547;
    transition: all 0.3s;
}



header .phone:hover{
    color: #1a9547;
}

header .collBack{
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    color: #0069b4;
    border-bottom: 1px dashed  #0069b4;
}

header p.timing{
    font-size: 13px;
    line-height: 19px;
    color: #999999;
}
header .basket{
    font-size: 13px;
    line-height: 22px;
    color: #333333;
    text-decoration: none;
    display: table;
    margin-left: auto;
    padding-left: 28px;
    background-repeat: no-repeat;
    background-position: left center;
}

header .basket span{
    color: #1a9547;
}

header [class*=icon]{
    color: #cbebd5;
}
header .login [class*=icon]{
    font-size: 20px;
}
header .login[class*=icon]{
    font-size: 13px;
}

.sale{
    width: 305px;
    height: 360px;
}

.slider{
    width: 640px;
    height: 360px;
    position: relative;
}

.banner .slider .item{
    width: 645px;
    height: 360px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner>div{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner{
    display: flex;
    justify-content: space-between;
}

.advantages .item span{
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    color: #333333;
    display: block;
}

.advantages{
    width: calc(100% - 320px);
    float: left;
}

.advantages .item p{
    font-size: 12px;
    line-height: 14px;
    color: #666666;
}
.advantages .item{
    width: 25%;
    float: left;
}

.subscribe{
    background-color: #63b949;
    width: 320px;
    float: left;
    padding: 20px;
}

.subscribe label{
    font-size: 16px;
    color: #ffffff;
}

.subscribe input{
    font-size: 13px;
    line-height: 37px;
    color: #999999;
    width: 100%;
    border: none;
    padding-left: 10px;
}

.subscribe input::placeholder{
    font-size: 13px;
    line-height: 37px;
    color: #999999;
}

.subscribe button{
    background-color: #259c47;
}
.subscribe button{
    font-size: 13px;
    line-height: 37px;
    text-align: center;
    color: #ffffff;
    width: 190px;
    border: none;
    display: table-cell;
    vertical-align: middle;
}

.subscribe .wrap span{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}

.subscribe .wrap{
    display: table;
    width: 100%;
}





.filter li{
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px dashed #666666;
}

.filter li:hover{
    border-bottom: 1px dashed transparent;
}

.filter li a{
    text-decoration: none;
    color: #666666;
}


.card{
    position: relative;
}



.status{
    position: absolute;
    display: block;
    top: -3px;
    left: -3px;
    width: 43px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}

.status.hit{
    background-color: #6eddcc;
}

.status.discount{
    background-color: #ffed03;
}

.status.new{
    background-color: #78ec71;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.card .img{
    width: 220px;
    height: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card .title{
    font-size: 15px;
    line-height: 22px;
    color: #333333;
    display: block;
}

.card .content{
    min-height: 110px;
    position: relative;
}

.card .content .buy{
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
}

.card{
    border-bottom: 1px solid #e4e4e4;
    z-index: 1;
}


.card a{
    font-size: 15px;
    line-height: 22px;
    color: #0069b4;
}

.card .price{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #333333;
    display: inline-block;
    vertical-align: top;
}

.card .price .old{
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
    color: #666666;
    text-decoration: line-through;
    display: inline-block;
    vertical-align: top;
}

.card button{
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    background-color: #ff7200;
    width: 100px;
    border: none;
    display: block;
    float: right;
}

.thumbnail{
    position: absolute;
    display: none;
    top: -12px;
    right: -10px;
    padding: 11px;
    width: 313px;
    height: 356px;
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.thumbnail .pic{
    margin-bottom: 10px;
    width: 53px;
    height: 53px;
    background-size: cover;
    background-repeat: no-repeat;
}

.thumbnail .pic.active{
    border: 1px solid #259c47;
}

.filter li{
    display: inline-block;
}

.filter li+li{
    margin-left: 20px;
}

.widgets .wrap{
    display: flex;
    justify-content: space-between;
}

.info .tabs li{
    display: inline-block;
    padding: 0 15px;
}

.info .title{
    position: relative;
    display: block;
    padding-left: 25px;
}

.info .title::before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid #333333;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -3px;
}

header .menu li{
    display: inline-block;
    margin-right: 18px;
}




.widgets h1{
    font-size: 18px;
    width: 600px;
    line-height: 22px;
    text-align: center;
    color: #666666;
}

.socialItem:first-child,
.socialItem:last-child{
    width: 290px;
    height: 400px;
}

.socialItem:nth-child(2){
    width: 350px;
    height: 400px;
}
.socialItem{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}






.tabs li a{
    font-size: 14px;
    text-decoration: none;
    line-height: 45px;
    color: #999999;
}

.info .content{
    font-size: 12px;
    line-height: 18px;
    color: #666666;
}

.info .title{
    text-transform: uppercase;
}

.info .title.active::before{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.info.ui-tabs{
    padding: 0;
}

.info.ui-tabs .ui-tabs-nav{
    padding: 0;
}

.info.ui-tabs .ui-tabs-nav li{
    margin: 0;
    padding: 0;
}

.info.ui-tabs .ui-tabs-nav li.ui-tabs-active{
    margin: 0;
    padding: 0;
}

.info.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
    padding: 0 15px;
}

.info.ui-tabs .ui-tabs-panel{
    padding: 0;
}

.info .tabs a{
    display: block;
    font-size: 14px;
    color: #999;
    text-decoration: none;
    padding: 0 15px;
    outline: none;
    height: 45px;
    line-height: 45px;
}

.info .tabs li.ui-tabs-active a,
.info .tabs li a:hover{
    border: none;
    background-color: #f2fff7;
    color: #1c9847;
    cursor: pointer;
}

footer{
    font-size: 13px;
    line-height: 22px;
    color: #ffffff;
    background-color: #62b749;
}

footer .FootWrap{
    padding-top: 20px;
    padding-bottom: 50px;
}

footer a.socLInk{
    font-size: 21px;
}

footer a{
    text-decoration: none;
    color: #ffffff;
}
footer .contacts a[class*=icon]{
    color: #ffffff;
    font-size: 21px;

}

footer .footMenu{
    width: 50%;
    float: left;
}

footer .contacts{
    width: 25%;
    float: left;
}

footer .copyright{
    width: 25%;
    float: left;
    text-align: right;
}

.up{
    position: fixed;
    left: 10px;
    bottom: 10px;
    background-color: #FF4500;
    color: #ffffff;
    border: none;
}

.footMenu .col{
    width: 50%;
    float: left;
}

/*Новости*/
.grey img{
    height: 205px;
    width: 975px;
}

.sky p{
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}

.sky a{
    font-size: 13px;
    line-height: 22px;
    color: #0069b4;
}

.container .september h1{
    font-size: 25px;
    line-height: 22px;
    color: #333333;
}

.container .september h2{
    font-size: 18px;
    line-height: 22px;
    color: #333333;
}

.container .september span{
    font-size: 12px;
    line-height: 22px;
    color: #aaaaaa;
}

.breaderumbs{
    display: block;
}

.breaderumbs li{
    float: left;
    font-size: 12px;
    line-height: 22px;
}

.breaderumbs li a{
    color: #999999;
    text-decoration: none;
}

.breaderumbs li+li{
    margin-left: 5px;
}


/*страница Оформление заказов */
.orderList li{
    padding-left: 40px;
}
.orderList label{
    position: relative;
    padding-left: 40px;
    margin-left: -40px;
    font-size: 13px;
    line-height: 19px;
    color: #333333;

}
.radioBtn{
    display: none;
}
.radioBtn:not(checkked) + label::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    transition: all 0.3s;
}

.radioBtn:not(checkked) + label::after{
    content: "";
    display: block;
    position: absolute;
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    background-color: #51bf87;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s;
}
.radioBtn:checked + label::before{
    border-color: #51bf87;
}
.radioBtn:checked + label::after{
    opacity: 1;
}
.radioBtn +label{
    cursor: pointer;
}
.selectBl select {
    width: 288px;
    height: 27px;
    border: 1px solid #d6d6d6;
}

.selectBl{
    margin-top: 14px;
    padding-bottom: 26px;
    border-bottom: 1px solid #e4e4e4;
}

.selectBl select {
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    color: #333333;
    display: block;
}
.selectBl label {
    font-size: 13px;
    color: #666666;
    font-style: italic;
}

.selectBl{
    width: 290px;
}

.selectBl .selectric{
    width: 100%;
    height: 28px;
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
}

.selectBl .selectric .label{
    font-size: 13px;
    line-height: 26px;
    color: #333333;
}

.selectBl .selectric .button{
    position: absolute;
    right: 7px;
    top: 50%;
    width: 0;
    height: 0;
    border-top: 7px solid #00a48c;
    border-left: 6px solid transparent;
    border-right: 7px solid transparent;
    margin-top: -2px;
    background-color: transparent;
}

.selectBl .selectric .button::after{
    display: none;
}

.selectBl .selectric-items{
    border: 1px solid #d6d6d6;
}

.selectBl .selectric-items li{
    padding: 0;
    padding-left: 10px;
    font-size: 13px;
    line-height: 26px;
    color: #333333;
    background-color: #fff;
}

.selectBl .selectric-items li:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.methodDelivery {
    margin-top: 15px;
    padding-bottom: 18px;
    border-bottom: 1px solid #e4e4e4;
}

.methodDelivery span:nth-child(1) {
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
    margin-bottom: 20px;
}

.methodDelivery label {
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    color: #333333;
}

.methodDelivery p {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    color: #666666;
}

.methodDelivery .additional {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    color: #f26522;
}

.orderList li {
    width: 460px;
    padding-left: 40px;
    margin-top: 10px;
}

.orderList label {
    position: relative;
    padding-left: 40px;
    margin-left: -40px;
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}



.deliveryInfo div {
    margin-top: 9px;
}

.deliveryInfo input {
    display: block;
}
.deliveryInfo label span{
    color: #ee393e;
}

.deliveryInfo .deliveryStrDist input {
    width: 288px;
    height: 27px;
}

.deliveryInfo textarea {
    display: block;
    width: 288px;
}

.deliveryInfo div textarea {
    height: 104px;
}

.deliveryFlex {
    display: flex;
}
.deliveryInfo label {
    font-size: 13px;
    color: #666666;
    font-style: italic;
}

.deliveryFlex .deliveryArea1 input {
    width: 57px;
    height: 27px;
}

.deliveryFlex .deliveryArea2 input {
    width: 57px;
    height: 27px;
}

.deliveryFlex .deliveryArea3 input {
    width: 95px;
    height: 27px;
}

.deliveryFlex .deliveryArea2 {
    padding-left: 40px;
}

.deliveryFlex .deliveryArea3 {
    padding-left: 39px;
}

.choosePay {
    margin-top: 16px;
    padding-bottom: 18px;
    border-bottom: 1px solid #e4e4e4;
}

.choosePay span:first-child {
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
    margin-bottom: 15px;
}

.choosePay label {
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    color: #333333;
}

.choosePay p {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    color: #666666;
}

.yourInfo div {
    margin-top: 9px;
}


.yourInfo input {
    display: block;
}

.yourInfo input {
    width: 288px;
    height: 27px;
}

.yourInfo label span {
    color: #ee393e;
}
.yourInfo label {
    font-size: 13px;
    color: #666666;
    font-style: italic;
}

.yourInfo {
    margin-top: 15px;
    padding-bottom: 67px;
}

.yourInfo > span {
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
    margin-bottom: 15px;
    display: inline-block;

}

.yourInfo .starLabel span {
    font-size: 13px;
    font-weight: normal;
    font-style: italic;
    line-height: 22px;
    color: #ed1c24;
}

.yourInfo div input {
    display: block;
    margin-bottom: 10px;
}

.yourInfo button {
    width: 191px;
    height: 35px;
    border: none;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
    background-color: #ff7200;
    margin-top: 23px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
}


.breadcrumbs {
    font-size: 12px;
    font-weight: normal;
    line-height: 12px;
    color: #999999;
    padding-bottom: 22px;
}

.breadcrumbs li {
    display: inline-block;
}

.breadcrumbs a {
    text-decoration: none;
    color: #999999;
}

.clientWrap{
    padding-bottom: 55px;
}

.clientWrap .left {
    width: 305px;
    float: left;
}

.clientWrap .left p {
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    color: #333333;
    margin-bottom: 20px;
}

.clientWrap .left .formClient {
    background-color: #f9f9f9;
    width: 100%;
    padding: 14px 10px 20px 10px;
}

.clientWrap .left .labelFormClient {
    font-size: 13px;
    font-weight: normal;
    font-style: italic;
    line-height: 22px;
    color: #666666;
}

.clientWrap .formSize {
    width: 283px;
    height: 27px;
}

.clientWrap .left input {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 10px;
    font-weight: normal;
    color: #333333;
    display: block;
}

.clientWrap .addLogo .leftLogo{
    width: 145px;
    float: left;
}

.clientWrap .addLogo .writeLogo {
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    color: #333333;
}

.clientWrap .left .signature {
    font-size: 11px;
    font-weight: normal;
    line-height: 11px;
    color: #999999;
    display: block;
}

.clientWrap .addLogo .rightLogo{
    width: calc(100% - 175px);
    float: right;
}

.clientWrap .addLogo .rightLogo li{
    display: inline-block;
    float: left;
    width: 50%;
}

.clientWrap .left .addLogo label {
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    color: #666666;
    display: inline-block;
    position: relative;
    padding-right: 20px;
    text-align: right;
}

.clientWrap .addLogo input{
    display: none;
}

.addLogo .radioBtn:not(checked) + label::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 27px;
    width: 15px;
    height: 15px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    transition: all 0.3s;
}

.addLogo .radioBtn:not(checked) + label::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 31px;
    width: 7px;
    height: 7px;
    background-color: #51bf87;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s;
}

.addLogo .radioBtn:checked + label::before {
    border-color: #51bf87;
}

.addLogo .radioBtn:checked + label::after {
    opacity: 1;
}

.addLogo .radioBtn + label {
    cursor: pointer;
}



.clientWrap .left .addFile{
    margin-top: 8px;
}

.clientWrap .left .addFile label {
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    text-decoration: underline;
    color: #229647;
}

.clientWrap .left .howMany{
    margin-top: 14px;
    margin-bottom: 7px;
}

.clientWrap .left .howMany select{
    width: 84px;
    display: block;
}

.clientWrap .date div input{
    width: 106px;
    display: inline-block;
}

.clientWrap .date div img{
    margin-left: 6px;
    display: inline-block;
    vertical-align: middle;
}

.clientWrap .addInf textarea{
    width: 283px;
    height: 124px;
    margin-bottom: 22px;
}

.clientWrap .left button {
    border: none;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
    background-color: #ff7200;
    width: 130px;
    height: 31px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
}



.clientWrap .right {
    width: calc(100% - 310px);
    float: left;
    padding-left: 35px;
    padding-bottom: 20px;
}

.clientWrap .right h3 {
    font-size: 25px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
    padding-bottom: 12px;
}

.clientWrap .right p {
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    color: #333333;
    padding-bottom: 23px;
}

.clientWrap .right p:last-child {
    padding-bottom: 18px;
}

.selectBL {
    width: 290px;
}

.selectBL .selectric {
    width: 100%;
    height: 28px;
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
}

.selectBL .selectric .label {
    font-size: 13px;
    line-height: 26px;
    color: #333333;
}

.selectBL .selectric .button {
    position: absolute;
    right: 7px;
    top: 50%;
    width: 0px;
    height: 0px;
    border-top: 7px solid #00a48c;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    margin-top: -2px;
    background-color: transparent;
}



.selectBL .selectric-items {
    border: 1px solid #d6d6d6;
}

.selectBL .selectric-items li {
    padding: 0;
    padding-left: 10px;
    font-size: 13px;
    line-height: 26px;
    color: #333333;
    background-color: #ffffff;
}



.clientWrap .right button {
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    border: none;
    background-color: #64ba4a;
    width: 194px;
    height: 31px;
    display: table-cell;
    vertical-align: middle;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 1;
}.breadcrumbs {
     font-size: 12px;
     font-weight: normal;
     line-height: 12px;
     color: #999999;
     padding-bottom: 22px;
 }

.breadcrumbs li {
    display: inline-block;
}

.breadcrumbs a {
    text-decoration: none;
    color: #999999;
}

.clientWrap{
    padding-bottom: 55px;
}

.clientWrap .left {
    width: 305px;
    float: left;
}

.clientWrap .left p {
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    color: #333333;
    margin-bottom: 20px;
}

.clientWrap .left .formClient {
    background-color: #f9f9f9;
    width: 100%;
    padding: 14px 10px 20px 10px;
}

.clientWrap .left .labelFormClient {
    font-size: 13px;
    font-weight: normal;
    font-style: italic;
    line-height: 22px;
    color: #666666;
}

.clientWrap .formSize {
    width: 283px;
    height: 27px;
}

.clientWrap .left input {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 10px;
    font-weight: normal;
    color: #333333;
    display: block;
}

.clientWrap .addLogo .leftLogo{
    width: 145px;
    float: left;
}

.clientWrap .addLogo .writeLogo {
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    color: #333333;
}

.clientWrap .left .signature {
    font-size: 11px;
    font-weight: normal;
    line-height: 11px;
    color: #999999;
    display: block;
}

.clientWrap .addLogo .rightLogo{
    width: calc(100% - 175px);
    float: right;
}

.clientWrap .addLogo .rightLogo li{
    display: inline-block;
    float: left;
    width: 50%;
}

.clientWrap .left .addLogo label {
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    color: #666666;
    display: inline-block;
    position: relative;
    padding-right: 20px;
    text-align: right;
}

.clientWrap .addLogo input{
    display: none;
}

.addLogo .radioBtn:not(checked) + label::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 27px;
    width: 15px;
    height: 15px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    transition: all 0.3s;
}

.addLogo .radioBtn:not(checked) + label::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 31px;
    width: 7px;
    height: 7px;
    background-color: #51bf87;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s;
}

.addLogo .radioBtn:checked + label::before {
    border-color: #51bf87;
}

.addLogo .radioBtn:checked + label::after {
    opacity: 1;
}

.addLogo .radioBtn + label {
    cursor: pointer;
}



.clientWrap .left .addFile{
    margin-top: 8px;
}

.clientWrap .left .addFile label {
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    text-decoration: underline;
    color: #229647;
}

.clientWrap .left .howMany{
    margin-top: 14px;
    margin-bottom: 7px;
}

.clientWrap .left .howMany select{
    width: 84px;
    display: block;
}

.clientWrap .date div input{
    width: 106px;
    display: inline-block;
}

.clientWrap .date div img{
    margin-left: 6px;
    display: inline-block;
    vertical-align: middle;
}

.clientWrap .addInf textarea{
    width: 283px;
    height: 124px;
    margin-bottom: 22px;
}

.clientWrap .left button {
    border: none;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
    background-color: #ff7200;
    width: 130px;
    height: 31px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
}



.clientWrap .right {
    width: calc(100% - 310px);
    float: left;
    padding-left: 35px;
    padding-bottom: 20px;
}

.clientWrap .right h3 {
    font-size: 25px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
    padding-bottom: 12px;
}

.clientWrap .right p {
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    color: #333333;
    padding-bottom: 23px;
}

.clientWrap .right p:last-child {
    padding-bottom: 18px;
}

.selectBL {
    width: 290px;
}

.selectBL .selectric {
    width: 100%;
    height: 28px;
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
}

.selectBL .selectric .label {
    font-size: 13px;
    line-height: 26px;
    color: #333333;
}

.selectBL .selectric .button {
    position: absolute;
    right: 7px;
    top: 50%;
    width: 0px;
    height: 0px;
    border-top: 7px solid #00a48c;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    margin-top: -2px;
    background-color: transparent;
}



.selectBL .selectric-items {
    border: 1px solid #d6d6d6;
}

.selectBL .selectric-items li {
    padding: 0;
    padding-left: 10px;
    font-size: 13px;
    line-height: 26px;
    color: #333333;
    background-color: #ffffff;
}



.clientWrap .right button {
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    border: none;
    background-color: #64ba4a;
    width: 194px;
    height: 31px;
    display: table-cell;
    vertical-align: middle;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 1;
}.breadcrumbs {
     font-size: 12px;
     font-weight: normal;
     line-height: 12px;
     color: #999999;
     padding-bottom: 22px;
 }

.breadcrumbs li {
    display: inline-block;
}

.breadcrumbs a {
    text-decoration: none;
    color: #999999;
}

.clientWrap{
    padding-bottom: 55px;
}

.clientWrap .left {
    width: 305px;
    float: left;
}

.clientWrap .left p {
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    color: #333333;
    margin-bottom: 20px;
}

.clientWrap .left .formClient {
    background-color: #f9f9f9;
    width: 100%;
    padding: 14px 10px 20px 10px;
}

.clientWrap .left .labelFormClient {
    font-size: 13px;
    font-weight: normal;
    font-style: italic;
    line-height: 22px;
    color: #666666;
}

.clientWrap .formSize {
    width: 283px;
    height: 27px;
}

.clientWrap .left input {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 10px;
    font-weight: normal;
    color: #333333;
    display: block;
}

.clientWrap .addLogo .leftLogo{
    width: 145px;
    float: left;
}

.clientWrap .addLogo .writeLogo {
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    color: #333333;
}

.clientWrap .left .signature {
    font-size: 11px;
    font-weight: normal;
    line-height: 11px;
    color: #999999;
    display: block;
}

.clientWrap .addLogo .rightLogo{
    width: calc(100% - 175px);
    float: right;
}

.clientWrap .addLogo .rightLogo li{
    display: inline-block;
    float: left;
    width: 50%;
}

.clientWrap .left .addLogo label {
    font-size: 13px;
    font-weight: normal;
    line-height: 19px;
    color: #666666;
    display: inline-block;
    position: relative;
    padding-right: 20px;
    text-align: right;
}

.clientWrap .addLogo input{
    display: none;
}

.addLogo .radioBtn:not(checked) + label::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 27px;
    width: 15px;
    height: 15px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    transition: all 0.3s;
}

.addLogo .radioBtn:not(checked) + label::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 31px;
    width: 7px;
    height: 7px;
    background-color: #51bf87;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s;
}

.addLogo .radioBtn:checked + label::before {
    border-color: #51bf87;
}

.addLogo .radioBtn:checked + label::after {
    opacity: 1;
}

.addLogo .radioBtn + label {
    cursor: pointer;
}



.clientWrap .left .addFile{
    margin-top: 8px;
}

.clientWrap .left .addFile label {
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    text-decoration: underline;
    color: #229647;
}

.clientWrap .left .howMany{
    margin-top: 14px;
    margin-bottom: 7px;
}

.clientWrap .left .howMany select{
    width: 84px;
    display: block;
}

.clientWrap .date div input{
    width: 106px;
    display: inline-block;
}

.clientWrap .date div img{
    margin-left: 6px;
    display: inline-block;
    vertical-align: middle;
}

.clientWrap .addInf textarea{
    width: 283px;
    height: 124px;
    margin-bottom: 22px;
}

.clientWrap .left button {
    border: none;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    color: #ffffff;
    text-align: center;
    background-color: #ff7200;
    width: 130px;
    height: 31px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    border: 1px solid transparent;
}



.clientWrap .right {
    width: calc(100% - 310px);
    float: left;
    padding-left: 35px;
    padding-bottom: 20px;
}

.clientWrap .right h3 {
    font-size: 25px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
    padding-bottom: 12px;
}

.clientWrap .right p {
    font-size: 13px;
    font-weight: normal;
    line-height: 22px;
    color: #333333;
    padding-bottom: 23px;
}

.clientWrap .right p:last-child {
    padding-bottom: 18px;
}

.selectBL {
    width: 290px;
}

.selectBL .selectric {
    width: 100%;
    height: 28px;
    background-color: #ffffff;
    border: 1px solid #d6d6d6;
}

.selectBL .selectric .label {
    font-size: 13px;
    line-height: 26px;
    color: #333333;
}

.selectBL .selectric .button {
    position: absolute;
    right: 7px;
    top: 50%;
    width: 0px;
    height: 0px;
    border-top: 7px solid #00a48c;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    margin-top: -2px;
    background-color: transparent;
}



.selectBL .selectric-items {
    border: 1px solid #d6d6d6;
}

.selectBL .selectric-items li {
    padding: 0;
    padding-left: 10px;
    font-size: 13px;
    line-height: 26px;
    color: #333333;
    background-color: #ffffff;
}



.clientWrap .right button {
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    border: none;
    background-color: #64ba4a;
    width: 194px;
    height: 31px;
    display: table-cell;
    vertical-align: middle;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 1;
}

@media (max-width: 1199px){
    .container {
        width: 980px;
    }
        .sale{
            height: 350px;
            width: 295px;
        }

        .subscribe{
            width: 300px;
        }

        .advantages{
            width: calc(100% - 300px);
        }

        .cards{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        .card{
            flex: 0 0 220px;
        }

}

@media (max-width: 991px) {
    .container {
        width: 780px;
    }

    .banner .sale {
        width: 220px;
        height: 260px;
    }

    .slider{
        position: relative;
        width: 640px;
    }
    .banner .slider .item{
        width: 645px;
        height: 360px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    #customDots {
        position: absolute;
        bottom: 0px;
        right: 30px;
        z-index: 1;
    }

    #customDots button {
        padding: 0;
        border: none;
        width: 8px;
        height: 8px;
        background-color: #000000;
        border-radius: 50%;
        opacity: 0.7;
        margin: 0 4px;
    }

    #customDots button:hover {
        opacity: 1;
    }

    .advantages {
        width: 100%;
        margin-bottom: 22px;
    }

    .subscribe {
        width: 100%;
    }

    .subscribe .wrap {
        display: inline-block;
    }

    .subscribe button {
        display: inline-block;
    }

    .subscribe .wrap span {
        display: inline-block;
    }

    .filter {
        display: none;
        margin-bottom: 30px;
        width: 100%;
        height: 45px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }

    .card img {
        width: 100%;
        height: 218px;
    }

    footer {
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .footMenu {
        float: none;
        width: 100%;
        text-align: center;
    }

    .footMenu .col {
        float: none;
        display: inline-block;
        width: 100%;
    }

    .footMenu a {
        display: inline-block;
        margin-right: 21px;
    }

    .footMenu ul li:last-child a {
        margin-right: 0;
    }

    .footMenu li {
        display: inline-block;
    }

    .contacts {
        float: left;
        width: 50%;
    }

    .contacts div span {
        display: block;
    }

    .copyright {
        float: right;
        width: 50%;
    }

}

@media (max-width: 767px) {
    .container{
        width: 100%;
    }
    .banner {
        display: none;
    }

    .advSub {
        display: none;
    }

    .filter {
        display: none;
    }

    .selFilter {
        display: block;
        margin-bottom: 30px;
        width: 100%;
        height: 45px;
        vertical-align: top;
    }

    .selFilter select {
        height: 100%;
        width: 130px;
        border: 1px solid #c3c3c3;
        display: block;
        float: left;
    }

    .view{
        display: block;
        float: right;
    }

    .view span{
        font-size: 40px;
    }

    .view span:last-child{
        margin-left: 18px;
    }

    .cards {
        width: 100%;
        display: block;

    }

    .card{
        width: 100%;
        max-width: 270px;
    }

    .card .img {
        width: 100%;
        max-width: 270px;

    }
    .advantages{
        display: none;
    }

    .subscribe{
        display: none;
    }
}