@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ps81zx');
  src:  url('fonts/icomoon.eot?ps81zx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ps81zx') format('truetype'),
    url('fonts/icomoon.woff?ps81zx') format('woff'),
    url('fonts/icomoon.svg?ps81zx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e942";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-vk:before {
  content: "\ea98";
}
